.background-image{
    height: 500px;
    width: 500px;
    border-radius: 250px;
}
.center{
    text-align: center;
}
/*Timer*/
#timer{
    display: flex;
    position: absolute; 
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}
.timer-box{
    text-align: center;
    width: 6rem;
}
.timer-box h1{
    color: goldenrod;
    font-size: 3rem;
}
.timer-box p{
    font-size: 0.7rem;
    color: #721321 /*rgb(125, 42, 183);  #4D1E29
    padding-bottom: 0.5rem;
    /*163 54 240*/
}
/*Buttons*/
.button {
    background-color:goldenrod; /* Green */
    border: 0.1rem solid black;
    color: black;
    border-radius: 0.5rem;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
}
.button:hover{
    background-color: rgba(218,165, 32, 0.4);
    color: white;
}

