.background-image{
    height: 500px;
    width: 500px;
    border-radius: 250px;
}
.navbar-color{
    background-color:black;
}

.container{
    height: 4rem;
}
.main-header{
    text-align: center;
    font-size:3rem;
    font-style:normal;
    padding-top: 5rem; 
    padding-bottom: 1rem;
}
.center{
    text-align: center;
}
/*Timer*/
#timer{
    display: flex;
    justify-content: center;

}
.timer-container{
    background-color: black;
    border-radius: 1rem;
    display: flex;
    min-height: 4rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.timer-box{
    text-align: center;
    width: 6rem;

}
.timer-box h1{
    color: goldenrod;
    font-size: 3rem;
}
.timer-box p{
    font-size: 0.7rem;
    color:white;
    padding-bottom: 0.5rem;
}
/*Buttons*/
.button {
    background-color:white; /* Green */
    border: 0.2rem solid black;
    color: black;
    border-radius: 0.5rem;
    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
}
.button:hover{
    background-color: black;
    color: white;
}

