*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
}
.main-header{
    position: relative;
    text-align: center;
    font-size:5rem;
    font-style:normal;
    padding-top: 5rem; 
    padding-bottom: 1rem;
    color: goldenrod ;
}

#navbar {
  overflow: hidden;
  background-image: linear-gradient(to left,#721321, goldenrod);
}

#navbar a {
  float: left;
  display: block;
  color: #721321;
  font-weight:600;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

#navbar a:hover {
  background-color: #721321;
  color: goldenrod;
}
footer{
    background-color: #6D6E71;
}
#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.content {
  padding: 15px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
 
.head-1{
    background-image: url("/img/background.jpg");  
    height: 600px;
    background-blend-mode: color-burn;
    background-color : rgba(0,0,0,0.2);
    position: relative;
    background-size:cover;
}
#sg-letter-div{
    background-color: antiquewhite;
    padding: 3rem 27%;
}
#sg-letter-div h2{
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}
#sg-letter-div h3{
    font-size: 1.65rem;
    margin-bottom: 1rem;
    text-align: center;
    color: goldenrod;
    font-style: italic;
}
#sg-letter-div p{
    margin-bottom: 1rem;
    text-align: justify;
    font-style: italic;
}

  #header-main {
    background-image: linear-gradient(to left,#721321, goldenrod);
    padding: 30px;
    text-align: center;
  }
  #header-main img{
      max-width: 20%;
      min-width: 10%;
  }

  #contact-container{
      padding-bottom: 1rem;
  }
  #contact-container h2{
    color: white;
    font-size: 2rem;
}
    #contact-container p{
        color: white;
    }
  

    #team-div{
        background-color: #721321;
        color: white;
        text-align: center;
        padding: 3rem;
    }
    #team-div h1{
        padding-top: 1rem;
        padding-bottom: 3rem;
        font-size: 3rem;
    }
.image-grid{
    text-align: center;
    position: relative;
    display: inline-block;
}
.image-grid .image-grid-row{
    display: flex;
    margin-bottom: 2rem;
}
.image-grid .image-grid-row img{
    width: 350px;
    margin-right: 2rem;
    margin-left: 2rem;
    transition: 1s;
}
.image-grid .image-grid-row .pleft{
    position: absolute;
    align-self:flex-end;
    left: 2rem;
    background-color: goldenrod;
    padding: 0.5rem 0rem;
    width: 25%;
}
.image-grid .image-grid-row .pright{
    position: absolute;
    align-self:flex-end;
    right: 2rem;
    background-color: goldenrod;
    padding: 0.5rem 0rem;
    width: 25%;
}
.social-container{
    text-align: center;
}
.fa {
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    border-radius: 50%;
}
    
.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
background: #125688;
color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
  }