*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
}
#navbar{
    background-image: url("/img/navbar-logo.jpg");
    background-attachment:local;
    background-position:1rem; 
    background-repeat: no-repeat;
    background-size: 3rem;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 0.75rem;
    height: 4rem;
}
#navbar ul{
    list-style: none;
    display: flex; 
}
#navbar ul li a{
    padding: 0.5rem;
    margin: 0.5rem ;
}
#navbar ul img{
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
#navbar ul li a:hover{
    /*border: 0.5rem solid white;*/
    background-color: white;
    border-radius: 10px;
    
    color: black;
}
 
.head-1{
    background-image: url("/img/background.jpg");
    
    background-blend-mode: color-burn;
    background-color : rgba(0,0,0,0.5);
    
    background-size:cover;
}